<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update FourthLevelCategory</h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                    
                    <div class="form-group">
                        <label> FourthLevelCategoryName</label>
                        <input type="text" class="form-control" id="fourthlevelcategoryname" [(ngModel)]="fourthlevelcategory.fourthlevelcategoryname"
                            name="fourthlevelcategoryname">
                    </div>
                    <div class="form-group">
                        <label for="subsubcategory">Select a SubSubCategory:</label>
                        <select class="form-control" id="subsubcategory" [(ngModel)]="fourthlevelcategory.subSubCategoryId" name="subSubCategoryId" >
                            <option *ngFor="let subsubcategory of subsubcategories" [ngValue]="subsubcategory.subSubCategoryId">{{ subsubcategory.subSubCategoryName }}</option>

                        </select>
                      </div>

                    <div class="form-group">
                        <label for="subcategory">Select a SubCategory:</label>
                        <select class="form-control" id="subcategory" [(ngModel)]="fourthlevelcategory.subcategoryId" name="subcategoryId" >
                          <option *ngFor="let subcategory of subcategories" [value]="subcategory.subcategoryId">{{ subcategory.subCategoryName }}</option>
                        </select>
                      </div>
                    <div class="form-group">
                        <label for="category">Select a Category:</label>
                        <select class="form-control" id="category" [(ngModel)]="fourthlevelcategory.categoryid" name="categoryid" >
                          <option *ngFor="let category of categories" [value]="category.categoryid">{{ category.categoryName }}</option>
                        </select>
                      </div>
                    <br />
                    <button class="btn btn-success" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
