<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="your-logo.png" alt="Your eCommerce Logo" width="120">
      </a>
  
      <!-- Search Bar with Search Icon -->
      <form class="form-inline ml-auto">
        <div class="input-group">
          <input class="form-control form-control-lg" type="text" placeholder="Search" aria-label="Search" style="width: 300px;">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </div>
      </form>
  
      <!-- Login and Signup -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-shopping-cart"></i> Cart
          </a>
        </li>
      </ul>
    </div>
  </nav>
  
