<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update SubSubCategory</h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                    
                    <div class="form-group">
                        <label> SubSubCategoryName</label>
                        <input type="text" class="form-control" id="subSubCategoryName" [(ngModel)]="subsubcategory.subSubCategoryName"
                            name="subSubCategoryName">
                    </div>
                    <div class="form-group">
                        <label for="subcategory">Select a SubCategory:</label>
                        <select class="form-control" id="subcategory" [(ngModel)]="subsubcategory.subcategoryId" name="subcategoryId" >
                          <option *ngFor="let subcategory of subcategories" [value]="subcategory.subcategoryId">{{ subcategory.subCategoryName }}</option>
                        </select>
                      </div>
                    <div class="form-group">
                        <label for="category">Select a Category:</label>
                        <select class="form-control" id="category" [(ngModel)]="subsubcategory.categoryid" name="categoryid" >
                          <option *ngFor="let category of categories" [value]="category.categoryid">{{ category.categoryName }}</option>
                        </select>
                      </div>
                    <br />
                    <button>Update Category IDs</button>
                    <br />
                </form>
            </div>
        </div>
    </div>
</div>
