<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update Product</h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                    
                    <div class="form-group">
                        <label> ProductName</label>
                        <input type="text" class="form-control" id="productName" [(ngModel)]="product.productName"
                            name="productName">
                    </div>

                    <div class="form-group">
                        <label> ProductPrice</label>
                        <input type="text" class="form-control" id="productPrice" [(ngModel)]="product.productPrice"
                            name="productPrice">
                    </div>
                    <div class="form-group">
                        <label> ProductSize</label>
                        <input type="text" class="form-control" id="productSize" [(ngModel)]="product.productSize"
                            name="productSize">
                    </div>
                    <div class="form-group">
                        <label> ProductBrand</label>
                        <input type="text" class="form-control" id="productBrand" [(ngModel)]="product.productBrand"
                            name="productBrand">
                    </div>
                    <div class="form-group">
                        <label> ProductDescription</label>
                        <input type="text" class="form-control" id="productDescription" [(ngModel)]="product.productDescription"
                            name="productDescription">
                    </div>
                    <div class="form-group">
                        <label> ProductQuantity</label>
                        <input type="text" class="form-control" id="productQuantity" [(ngModel)]="product.productQuantity"
                            name="productQuantity">
                    </div>
                    <div class="form-group">
                        <label> ProductImageUrls</label>
                        <input type="text" class="form-control" id="productImageUrls" [(ngModel)]="product.productImageUrls"
                            name="productImageUrls">
                    </div>
                    <div class="form-group">
                        <label> ProductInStock</label>
                        <input type="text" class="form-control" id="inStock" [(ngModel)]="product.inStock"
                            name="inStock">
                    </div>
                    <div class="form-group">
                        <label> ProductDateAdded</label>
                        <input type="text" class="form-control" id="dateadded" [(ngModel)]="product.dateadded"
                            name="dateadded">
                    </div>
                    <br />
                    <button class="btn btn-success" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
